.wp-block-russblock-hero{
}

/*
 # Columns
*/

.wp-block-russblock-columns {
  border: 1px solid black;
}

/*
 # Column
 */

.wp-block-russblock-column {
  border: 1px solid blue;
}

.wp-block-russblock-section {
  border: 1px solid blue;
  min-height: 300px;
}
