.wp-block-russblock-hero-test{
  padding: 4em 1em;
  background-position: center;
  background-size: cover;
}

/*
 # Columns
*/

.wp-block-russblock-columns {
  border: 1px solid black;
}

/*
 # Column
 */

.wp-block-russblock-column {
  border: 1px solid blue;
}

.wp-block-russblock-section {
  border: 1px solid blue;
  min-height: 300px;
}

/*
 # Card
*/

.wp-block-russblock-card {
  border: 1px solid blue;
}
